### 파이썬의 기본 문법
- 변수 선언, 식별자, 자료형, 형변환, 연산자 학습

### 1. 주석(comment)과 출력(print)

In [3]:
# 주석: 앞에 #을 붙이면 코드로 실행이 안된다.
# 코드에 대한 설명이나 중간에 코드를 실행시기코 싶지 않을때 사용
# 단축키: ctrl(cmd) + /
# 블록설정: shift + 방향키

# 1,2,3을 출력하는 코드
print(1)
#print(2)
print(3)

1
3

In [4]:
# 출력: print함수
# 코드 중간에 변수안에 들어있는 값을 확인하고 싶을때 사용

In [5]:
a = 1
b = 2
print(b)
c = 3
b = 4
print(b)

2
4

In [8]:
# print 함수의 옵션
#docstring: 함수에 대한 설명 : 단축키(shift + tab)
# 자동완성: tab

print(1,2, sep='-', end='\t')
print(3)

1-2	3

### 2. 변수 선언
- RAM 저장공간에 값을 할당하는 행위

In [10]:
a = 1
b = 2
c = a + b
c

3

In [12]:
d, e = 3, 4 # 한줄로 여러개 할당
f = g = 5

### 3. 식별자
- 변수, 함수, 클래스, 모듈등의 이름을 식별자 라고 합니다.
- 식별자 규칙
    - 소문자, 대문자, 숫자, 언더스코어(_)를 사용한다.
    - 가장 앞에 숫자를 사용할 수 없다.
    - 예약어의 사용 불가: def, class, try, except...
    - 컨벤션
        - snake case : fast_campus: 변수선언, 함수선언
        - camel case : FastCampus, fastCampus: 클래스

### 4. 데이터 타입
- RAM 저장공간을 효율적으로 사용하기 위해서 저장공간의 타입을 설정
- 동적타이핑
    - 변수 선언시 저장되는 값에 따라서 자동으로 데이터 타입이 설정
- 기본 데이터 타입: int, float, bool, str
- 컬렉션 데이터 타입: list, tuple, dict

In [15]:
a = 1
b = "python"
type(a), type(b)

(int, str)

In [17]:
# 기본 데이터 타입: int, float, bool, str
a = 1
b = 1.2
c = True
d = "data"

type(a), type(b), type(c), type(d)

(int, float, bool, str)

In [19]:
a+b

2.2

In [29]:
# 데이터 타입에 함수: 문자열

# upper: 대문자로 변환
e = d.upper()

In [30]:
e

'DATA'

In [33]:
f = "Fast campus "

In [34]:
# lower: 소문자로 변환
f.lower()

'fast campus '

In [35]:
# strip: 공백제거
f.strip()

'Fast campus'

In [38]:
# replace: 특정 문자열 치환
f.replace("Fast","Slow")

'Slow campus '

In [39]:
dir(f)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [40]:
# 오프셋 인덱스: 마스킹, 마스크: []
# 문자열은 순서가 있는 문자들의 집합

In [41]:
g = "abcdefg"

In [49]:
g[2], g[-2], g[2:5], g[:2], g[3:], g[-2:], g[::2], g[::-1]

('c', 'f', 'cde', 'ab', 'defg', 'fg', 'aceg', 'gfedcba')

In [50]:
numbers = "123456789" # 97531 출력

In [51]:
numbers[::-2]

'97531'

In [52]:
numbers[::2][::-1]

'97531'

### 컬렉션 데이터 타입: list, tuple, dict
- list []: 순서가 있는 수정이 가능한 데이터 타입
- tuple (): 순서가 있는 수정이 불가능한 데이터 타입
- dict {}: 순서가 없고 키:값 으로 구성되어 있는 데이터 타입

In [55]:
# list
ls = [1,2,3, "four", [5,6], True, 1.2]
type(ls), ls

(list, [1, 2, 3, 'four', [5, 6], True, 1.2])

In [58]:
# offset index 사용가능
ls[3], ls[1:3], ls[::-1]

('four', [2, 3], [1.2, True, [5, 6], 'four', 3, 2, 1])

In [59]:
# list 함수
ls = [1, 5, 2, 4]

In [60]:
# append: 가장 뒤에 값을 추가

In [62]:
ls.append(3)
ls

[1, 5, 2, 4, 3, 3]

In [64]:
# sort: 오름차순 정령
ls.sort()
ls[::-1] # 내림차순

[5, 4, 3, 3, 2, 1]

In [69]:
# pop: 가장 마지막 데이터를 출력하고 출력한 데이터를 삭제
# ctrl + enter : 현재 셀을 계속 실행
num = ls.pop()
num, ls

(2, [1])

In [70]:
# 리스트의 복사

In [74]:
ls1 = [1,2,3]
ls2 = ls1 # 얕은 복사: 주소값 복사
ls1, ls2

([1, 2, 3], [1, 2, 3])

In [75]:
ls1[2] = 5
ls1, ls2

([1, 2, 5], [1, 2, 5])

In [76]:
ls3 = ls1.copy()
ls1, ls3

([1, 2, 5], [1, 2, 5])

In [77]:
ls1[2] = 10

In [78]:
ls1, ls3

([1, 2, 10], [1, 2, 5])

### Tuple()
- 리스트와 같지만 수정이 불가능한 데이터 타입
- 튜플은 리스트보다 같은데이터를 가졌을때 공간을 적게 사용

In [81]:
tp1 = 1,2,3
tp2 = (4,5,6)
type(tp1), type(tp2), tp1,tp2

(tuple, tuple, (1, 2, 3), (4, 5, 6))

In [82]:
a, b = 1,2

In [87]:
# offset index 사용
tp1[1], tp1[::-1]

(2, (3, 2, 1))

In [88]:
# 리스트와 튜플의 저장공간 차이 비교
import sys

ls = [1,2,3]
tp = (1,2,3)
print(sys.getsizeof(ls), sys.getsizeof(tp))

96 80

### dict {}
- 순서가 없고 {키:값} 으로 구성되어 있는 데이터 타입

In [95]:
# 선언: 키는 정수, 문자열 데이터 타입만 사용이 가능
# 인덱스 대신 키를 사용
dic = {
    1: "one", 
    "two": 2, 
    "three": [1,2,3]
}
type(dic), dic

(dict, {1: 'one', 'two': 2, 'three': [1, 2, 3]})

In [100]:
dic[1],dic["two"],dic["three"]

('one', 2, [1, 2, 3])

In [101]:
dic["two"] = 123
dic

{1: 'one', 'two': 123, 'three': [1, 2, 3]}

In [102]:
# 아래의 데이터를 list와 dict로 선언
# 도시 : seoul, busan, deagu
# 인구 : 9,700,000, 3,400,000, 2,400,000

In [108]:
# 딕셔너리
data = {
    "seoul": 9700000,
    "busan": 3400000,
    "deagu": 2400000
    }

In [109]:
# 리스트
city = ["seoul", "busan", "deagu"]
population = [9700000, 3400000, 2400000]

In [110]:
sum([1,2,3])

6

In [111]:
sum(population)

15500000

In [113]:
sum(data.values())

15500000

### 5. 형변환
- 변수의 데이터 타입을 변환하는 방법
- int, float, bool, str, list, dict, tuple

In [115]:
a = 1
b = "2"
a + int(b)

3

In [116]:
str(a) + b

'12'

In [118]:
list(data.values())

[9700000, 3400000, 2400000]

In [119]:
city, population

(['seoul', 'busan', 'deagu'], [9700000, 3400000, 2400000])

In [120]:
# zip 함수: 같은 인덱스 데이터끼리 묶어주는 함수
list(zip(city, population))

[('seoul', 9700000), ('busan', 3400000), ('deagu', 2400000)]

In [122]:
result = dict(list(zip(city, population)))
result

{'seoul': 9700000, 'busan': 3400000, 'deagu': 2400000}

In [127]:
data1 = list(result.keys())

In [128]:
data2 = list(result.values())

In [129]:
data1, data2

(['seoul', 'busan', 'deagu'], [9700000, 3400000, 2400000])

### 6. 연산자
- 산술 연산자: +, -, *, /, //, %, **
- 할당 연산자: 특정 변수에 누적시켜서 연산: +=, //=, **= ...
- 비교 연산자: >, <, ==, !=, <=, >=: 결과로 True, False로 출력
- 논리 연산자: True, False 를 연산: or, and, not
- 맴버 연산자: 특정 데이터가 있는지 확인할때 사용: not in, in

In [6]:
a = 1
b = 2
a + b

3

In [7]:
# 산술연산
(1 + 4) / 2**2

1.25

In [8]:
# 할당 연산
a = 10
a = a + 10
a += 10

In [10]:
# 비교 연산
print(a,b)
a < b, a == b, a != b

30 2

(False, False, True)

In [11]:
# 논리 연산
True and False, True or False, not True or False

(False, True, False)

In [12]:
# 맴버연산
ls =["jin", "andy", "jhon"]

In [13]:
"andy" in ls, "anchel" in ls, "jhon" not in ls

(True, False, False)

In [51]:
### 랜덤함수
import random 

random.randint(1,10)

5

In [52]:
# 입력함수
data = input("insert string: ")
data

insert string: 안녕하세요

'안녕하세요'

In [53]:
data

'안녕하세요'

In [54]:
# 해결의 책 : 질문을 하면 질문에 대한 답변을 해주는 책

In [55]:
# 솔루션을 리스트로 작성
# 질문 입력 받음
# 솔루션의 갯수에 맞게 랜덤한 index 정수 값을 생성
# index 해당하는 솔루션 리스트의 데이터를 출력

In [61]:
# 솔루션을 리스트로 작성
solutions = [
    "무엇을 하던 잘 안될것 이다.",
    "생각지도 않게 좋은 일이 생길것이다.",
    "조금 쉬세요"
]

# 질문 입력 받음
input("질문을 입력하세요:" )

# 솔루션의 갯수에 맞게 랜덤한 index 정수 값을 생성
idx = random.randint(0, len(solutions)-1)

# index 해당하는 솔루션 리스트의 데이터를 출력
solutions[idx]

질문을 입력하세요:오늘 할당을 끝낼 수 있을까요?

'생각지도 않게 좋은 일이 생길것이다.'

In [59]:
len(solutions)

3

### summary
- jupyter notebook
    -mode: 명령모드, 편집모드
    -style: markdown, code
    -단축키:
        - 실행: shift + enter
        - docstring: shift + tab
        - 주석설정: cmd(ctrl) + /
        - 셀 설정: a(위에), b(아래)
- python 기본문법
    - 변수 선언: RAM 저장공간에 값을 할당하는 행위
    - 식별자 규칙:
        - 대문자, 소문자, 숫자, _
        - 가장 앞글자 숫자 사용 불가
        - 예약어 사용 불가 : def, class, try ...
        - snake_case(변수, 함수), CamelCass(클래스)
        - pep8 문서
    - 데이터 타입
        - 동적타이핑: 자동으로 저장공간의 데이터 타입이 설정
        - 기본 데이터 타입: int, float, bool, str
        - 컬렉션 데이터 타입: list(iterable: 순서가 있는 집합), tuple(iterable: 순서가 있는 집합), dict
        - offset index: 특정 위치의 데이터를 출력할때 사용
            - iterable한 데이터 타입에서만 사용이 가능
            - []: mask, masking
            - [idx]: idx 위치 데이터를 출력
            - [stat:end]: start에서 end까지 출력(end는 포함되지 않는다.)
            - [start:end:stride]: stride 만큼씩 점프하여 출력
        - 각 데이터 타입별로 함수가 있다.   
        - 형변환
            - 이미 변수에 설정된 데이터 타입을 변경하는 행위
            - zip 
                - 여러개의 리스트를 같은 인덱스끼리 묶어주는 함수
                - 두개의 리스트를 묶어서 dict로 형변환
        - 연산자
            - 산술: +, -, *, /, //, %, **
            - 할당: A (산술)= (data) 
            - 비교: <,>,==,!=,>=,<=
            - 논리: and, or, not
            - 맴버: