In [66]:
# 여기에 코드를 작성해주세요.
def odd_even(num1, num2):
    num1_sq = num1**2
    num2_sq = num2**2
    if (num1_sq+num2_sq)%2 == 0:
        return "짝수"
    else:
        return "홀수"

In [67]:
type(odd_even(5,5))

str

In [6]:
# 여기에 코드를 작성해주세요.
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [7]:
person = Person('lee', '27')

In [8]:
person.name, person.age

('lee', '27')

In [82]:
 # 여기에 코드를 작성해주세요.
class Child(Person):
    def play(self):
        return print('{} is playing.'.format(self.name))

In [83]:
child = Child('leesangju', '27')

In [84]:
child.name, child.age

('leesangju', '27')

In [85]:
child.play()

leesangju is playing.

In [86]:
a= 1

In [91]:
a.str

AttributeError: 'int' object has no attribute 'str'

In [89]:
type(a)

int

In [92]:
a = True
b = False

In [94]:
(a or b) and a

True

In [95]:
ls = ['a', 'b', 'c', 'd', 'e', 'f']

In [96]:
g = ls[-1::-2], ls[0] 
g

(['f', 'd', 'b'], 'a')

In [97]:
ls = range(1,20)
result = []

for data in ls:
    if(data%3 == 0):
        result.append("3의 배수")
    else:
        result.append(data)

In [98]:
result

[1,
 2,
 '3의 배수',
 4,
 5,
 '3의 배수',
 7,
 8,
 '3의 배수',
 10,
 11,
 '3의 배수',
 13,
 14,
 '3의 배수',
 16,
 17,
 '3의 배수',
 19]

In [100]:
result = ["3의배수" if (data%3==0) else data for data in ls]

In [101]:
result

[1,
 2,
 '3의배수',
 4,
 5,
 '3의배수',
 7,
 8,
 '3의배수',
 10,
 11,
 '3의배수',
 13,
 14,
 '3의배수',
 16,
 17,
 '3의배수',
 19]

In [103]:
 # 여기에 코드를 작성해주세요.
class Child(Person):
    def play(self):
        return print('{} is playing.'.format(name))

In [ ]:
child = Child('Olivia', '8')