### Pandas Pivot
- 데이터 프레임에의 컬럼데이터에서 index, column, values를 선택해서 데이터 프레이을 만드는 방법
- `df.pivot(index, column, values)`
    - groupby를 하고 pivot을 실행
- `df.pivot_table(values, index, column, aggfunc)`

### pandas io
- 데이터 프레임을 저장, 로드

In [1]:
# load

titanic = pd.read_csv("datas/train.csv")
titanic.tail(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [2]:
# save
titanic.to_csv("datas/titanic.tsv", sep="\t", index=False)